@using LabOppgave1.Models.ViewModels
@model ProductEditViewModel


<!DOCTYPE html>
<h1>Edit</h1>

<html>
<head>
    <title>New product</title>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <partial name="CreateEditPartialView"/>
            <button type="submit">Edit Product</button>
        </form>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    </div>
</div>
</body>

</html>

@section Scripts
{@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}}